label {
    font-size: 20px;
    font-weight: 900;
    margin: 0 20px;
}
.container {
    width: 500px;
    margin: 0 auto;
}

.search {
    background-color: orange;
    padding: 20px 0;
}

.results {
    background-color: rgb(14, 88, 184);
    padding: 15px 5px;
    text-align: center;
    margin: 0;
}

.name {
    background-color: white;
    margin: 6px;
    list-style: none;
    padding: 5px 0;
}